/* CSS Syntax   

    to be able to properly style elements with CSS, we use our CSS rule

    selector {
        property: value;
    }

*/

*{
    /* font-family property changes the font of our text
            font-family: "font name", fallbackfont;
            -fallback font is the backup in the event that the font does not load or is not able to be loaded.
            -fallback font allows CSS to find a similar font with your main font.
            -valie of fallback font is usually the family of the main font.

        font-size property allows us to change the size of the text.
            -defaulth font size is 16px.
    
    */
    font-family: 'Courier New', monospace;
    font-size: 20px;
}

h1{
    /* color property allows us to change the color of the element's text
        text-align allows us to change the alignment of our text.

        rem is a measurement in CSS which means num x default size of the root element's font.

        2rem = 2 x root element of font size
        2rem = 2 x 20px
        2rem = 40px
    */
    color: black !important;
    text-align: center;
    font-size: 2rem;
}

/* ID selector is represented in CSS with #
    #idName {
        property:value;
    }
*/
#zuitt-motto {
    /* letter-spacing allows us to add spacing between characters in text */
    letter-spacing: 5px;
}
/* class selector is represented in CSS with .

.className {
    property:value;
}
*/
li {
    font-size: 30px;

}

.offering-item {
    /* text-transform allows us to change the case of an element's text
        uppercase value allows us to change the case of the element to uppercase
    
    */
    text-transform: uppercase;
    /* font-size: 50px; */
}
/* #day-class {
    font-size: 100px !important;
} */

/* 
    specificity level of selectors
    id > class > type > universal (*)

    Specificity of Implementation
    Inline > Internal > External

    !important keyword allows us to override the specificity for a declaration.

    the most specific declaration is when the declaraction is in an ID selector and with !important.

    Sample: 
    <li class="offering-item" id="day-class" style="font-size: 5px">Day Classes</li>
*/

/* attribute Selector - allows us to select elements with the same tag and attribute */
/*  tag[attribute] 
    {
        property:value
    }
*/

input[required]{
    border-width: 2px;
    border-style: solid;
    border-color: navy;
    /* 
        % percentage is also a form measurement in CSS. % percentage when used on width property represents a percentage of the parent's width

        the input's width is now 90% of the parent's width
    */
    width: 90%;

    /* 
        border-width allows us to set the size of an element's border.
        border-style allows us to set style of the border/
        border-color allows us to set color of the border
    */
}
/* input {
    border-width: 4px;
    border-style: solid;
    border-color: green;
}

.fname-input {
    border-width: 6px;
    border-style: solid;
    border-color: red;
}


#first-name {
    border-width: 10px;
    border-style: solid;
    border-color: yellow;
} */

/* 
    ADJACENT Sibling Selector Combinator
        -allows us to select the sibling directly after the first selector

        first selector + adjacentSibling {
            property:value;
        }
 */

 #zuitt-motto + img {
     /* 
        height and width properties allows us to resize an element based on the values provided as height or width.
            -the difference between height and width html attribute and height and width CSS property is that height and width
            in CSS is more flexible and can use other measurements than pixels

        border-radius allows us to round out the corners of an element.
     */
     height: 300px;
     width: 300px;
     border-radius: 150px;
 }

 /* General Sibling Selector 
    - allows us to select the element/s that are siblings of our first element.

        firstSelector ~ GeneralSibling {
            property:value;
        }
 */

 h2 ~ a{
     /* text-decoration: none - allows us to remove the text-decoration from our element */
     text-decoration: none;
 }

 /* 
    descendant selector - allows us to select elements thaat are descendants of our first element/selector

    firstSelector descendant {
        property:value
    }
 
 */
 #bootcamp-learning-list li {
     /* the color chosen used hex decimal. It is a aplhanumeric combination. which allows us to select a more particular color */
     color:#075966
 }

 nav {
     /* 
        background-color allows us to change the background color of an element.
        display: flex; - lets use the flexbox
            flexbox allows us to manipulate the layout of an element's children.
            by default, adding display:flex; arranges an element's children into a row.

            by default, justify-content allows children of an element with flex to be able to change their horizontal alignment.

        justify-content: space-between; - allow us automaticlly add the remaining space in a parent it children

        we cannot use justify-content witout display:flex;
        
     */
     background-color: white;
     display: flex;
     justify-content: space-between;
 }

nav a {
     text-decoration: none;
 }

 /* 
    CSS child Selector
    -allows us to select the child/children of the first selector or element.

    firstSelector > child {
        property:value
    }

 */

 section > form > label {
     /* rgb() is a value for color. RGB refers to red, green, blue values. the minimum value is 0 and maximum is 255.
     by creatng or add the appropriate amount  */
     color: rgb(0, 0, 128);
 }

 body {
     background-color: skyblue;
 }
 /* selector:hover  pseudo class*/
 /* we are able to change the style of an element when hovered over. */
 a:hover {
     background-color: #b4d6de;
 }
section {
    /* vh is a measurement is CSS. it is a percentage of the total height of the viewport. 

        vh=viewport height
        100vh= 100% of our viewport heights
    
    the viewport is the overall space you can view your page in. */
    height: 100vh;
    text-align: center;
}

form {
    /* vw - view width, it is measurement based on a percentage of the viedth of your viewport */
    background-color: white;
    border: 2px solid black;
    height: 185px;
    width: 25vw;
    /* center the children of our ofrm with flex horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#register {
    /* text align only centers the text and inline elements. but actual block elements are not centered. */
    display: flex;
    /* 
        flex-direction:column; allows us to arrange the children of a flex parent into a column.

        if we use flex-direction:"column; on a flex parent( an element that has display:flex), 
            justify-content is now used for vertical alignment.
            align-items is now used for horinzontal alignment.
    */
    flex-direction: column;
    /* algin-items */
    align-items: center;
    

}
h2 {
    font-size: 1.5rem;
}
ol {
    list-style-type: none;
}

button {
 background-color: #cf0053;
 color: white;
 border: 0;
 border-radius: 15px;
}