
#externalP {
    color: yellow;
}

* {
    font-family: "verdana", sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 3rem;
}

#h2selector {
    text-transform: uppercase;
}
.languages {
    background-color: #7CCD74;
}
.toolsToBeUsed {
    border: 2px solid #147fe4;
} 

img + ul {
    list-style-type: none;
}

section img {
    height: 20vh;
    width: 20vh;
    border-radius: 150px;
}
ul ~ p {
    text-align: center;
    color: black;
}
ul > li {
    letter-spacing: 10px;
}
